body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.donate-banner {
    background-image: url(donate-today-main/images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
    height: 400px;

}





.help {
    text-align: center;
    color: black;
}

.lets-help {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 0%;
    margin: 0%;
}

#link-button1 {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 10px;
    border-radius: 10px;

}

#link2 {
    margin-top: 30px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
}

#today {
    font-size: 40px;
}

.donate {
    color: black;
    text-align: center;
    font-size: 15px;
}

.container {
    display: flexbox;
    margin-bottom: 50px;
    border: 20px;
    padding: 3px;
    text-align: center;
}

.helps-artical {
    text-align: center;
}




.helps-amount {
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 20px;
    box-shadow: 15px 15px 20px gray;
}

.helps-amount-box {
    display: flex;
}

h2 {
    text-align: center;
}

.helps {
    margin-left: 10%;
    margin-right: 10%;
}





.donate-plan {
    display: flex;
    justify-content: space-between;
    margin: 50px 70px;
}

.poor {
    padding: 30px;
    margin: 0 10px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 15px 15px 20px gray;
}

.container {
    display: flex;

}

.donation-box {
    width: 50%;
}

.pepole-donati-pic {
    width: 80%;
    border-radius: 30px;

}

.end-word {
    text-align: center;
}

.ending-from {
    background-color: #c9ba91;
    padding: 70px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;

}

.contacts {
    display: flex;
    border-radius: 9px;
    background-color: #ad9999;

}

.email {
    color: #967676;
    padding-left: 35px;
    width: 70%;
}

.subscribe {
    padding-left: 80px;
    width: 30%;
    background-color: #FF5959;
    color: white;

}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

footer h4 {
    padding-top: 20px;
    color: #FF5959;
}